:root {
    --background: rgb(78, 122, 178);
}

* {
    margin: 0;
    padding: 0;
}


*::before, *::after {
    box-sizing: border-box;
}

/* mobile navigation */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(78, 122, 178);;
    /* display: none; */
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

nav li {
    margin-bottom: 1em;
    margin-left:1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #fff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 6px;
}

.nav-toggle-label span::after {
    top: 6px;
}

.nav-toggle:checked ~ nav {
    /* display: block; */
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


.logo a {
    color: white;
    text-decoration: none;
}

section {
    width: 100%;
    height: 100vh;
}

section.sec1 {
    position: relative;
    overflow: hidden;
    background: url(img/francesco_top.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    background-color:#8499B4;
    background-blend-mode: luminosity;
}


section.sec1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    transform: skewY(8deg);
}

section.sec1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: left;
    transform: skewY(-8deg); 
}

section.sec3 {
    position: relative;
    overflow: hidden;
    background: url(img/main_large_1960wh.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px; 
}

section.sec3::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: left;
    transform: skewY(4deg);
}

section.sec2 {
    height: auto;
    box-sizing: border-box;
}

section.sec2 p {
    margin: 10px;;
    padding: 10px;
    font-family: sans-serif;
    color: #262626;
    font-size: 16px;
}

footer p {
    color: white;
}


/* projects page start  */

.pro1 {
    width: 960px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url("img/img_scale/970.jpg");
    background-color:#8499B4;
    background-blend-mode: luminosity;
}

.pro1::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: white;;
    transform-origin: left;
    transform: skewY(-10deg);
}

.pro2 {
    width: 960px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url("img/img_scale/970.jpg");
    background-color:#8499B4;
    background-blend-mode: luminosity;
}

.pro2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: white;;
    transform-origin: left;
    transform: skewY(-10deg);
}


/* project page end */

/* start media query for the navbar */

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: #000;
        position: absolute;
        top: -.15em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

     section.sec2 {
        /* margin: 2em; */
        height: auto;
        padding: 100px;
        box-sizing: border-box;
    
    } 
    
    section.sec2 p {
        margin: 10px;;
        padding: 10px;
        font-family: sans-serif;
        color: #262626;
        font-size: 18px;
    } 
}


/* media query for the footer image */

@media screen and (min-width: 320px){
    section.sec3 {
        position: relative;
        overflow: hidden;
        background: url(img/main_large_800w.jpg);
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
}





/* default screen, non-retina */
/* section.sec1  { 
    background-image: url("img/img_scale/1290.jpg"); 
} */

/* @media only screen and (max-width: 320px) { */
    /* Small screen, non-retina
    .section.sec1  { 
        background-image: url("/img/img_scale/290jpg"); 
    }
}

@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    /* .section.sec1  { 
        background-image: url("img/img_scale/583.jpg"); 
    }
} */ 
