@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

:root {
    --background: rgb(78, 122, 178);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*::before, *::after {
    box-sizing: border-box;
}

/* mobile navigation */


header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(78, 122, 178);;
    /* display: none; */
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left:1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    font-family: 'Raleway', sans-serif;
   
}

nav a:hover {
    color: #000;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #fff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 6px;
}

.nav-toggle-label span::after {
    top: 6px;
}

.nav-toggle:checked ~ nav {
    /* display: block; */
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo {
    margin-top: 5px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.6em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 25px;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    
}

section {
    width: 100%;
    height: 100vh;
}

section.sec1 {
    position: relative;
    overflow: hidden;
    background: url(img/francesco_top.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    /* background-color:#8499B4;
    background-blend-mode: luminosity; */
}


section.sec1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    transform: skewY(8deg);
}

section.sec1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: left;
    transform: skewY(-8deg); 
}

section.sec3 {
    position: relative;
    overflow: hidden;
    background: url(img/main_large_1960wh.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px; 
}

section.sec3::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: left;
    transform: skewY(4deg);
}

section.sec2 {
    height: auto;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    color: grey;
    text-shadow: 2px 2px 2px #CCCCCC;
}

.subtitle {
    text-align: center;
    
}

.subtitle span {
    font-size: 2em;
    position: relative;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 2px #CCCCCC;
    
}

.subtitle span:before,
.subtitle span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  
}

.subtitle span:before {
    right: 100%;
    margin-right: 15px;
    margin-top:20px;
  }
  .subtitle span:after {
    left: 100%;
    margin-left: 15px;
    margin-top: 20px;
  }

section.sec2 p { 
    margin: 10px;
    padding: 20px;
    font-family: sans-serif;
    color: #262626;
    font-size: 16px;
    line-height: 1.5em;
}

footer p {
    color: white;
}

.BJC {
    font-style: oblique;
}

img.project{
    width:100%;
}

h2.t-name {
    margin: 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2.bjc-name {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

.project-name {
    text-align: center;
    margin: 3em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #CCCCCC;
}

/* start media query for the navbar */

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: #000;
        position: absolute;
        top: -.15em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

     section.sec2 {
        /* margin: 2em; */
        height: auto;
        padding: 100px;
        box-sizing: border-box;
    
    } 
    
    section.sec2 p {
        margin: 10px;;
        padding: 10px;
        font-size: 1em;
        line-height: 2;
    } 

    .subtitle span:before,
    .subtitle span:after {
        width: 200px;
  
}
    
}
 
@media screen and (min-width: 960px){
    section.sec2  {
        width: 1240px;
        margin: 0 auto;
        padding: 20px;
        line-height: 2;
        font-size: 1em;
        
    } 

    .logo a {
        font-size: 0.8em;
    }

    .t-riot {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        border-radius:5px;
        -webkit-box-shadow: 0px 1px 5px -2px rgba(0,0,0,1);
        -moz-box-shadow: 0px 1px 5px -2px rgba(0,0,0,1);
        box-shadow: 0px 1px 5px -2px rgba(0,0,0,1);
        margin-top: 6em;
    }

    .bjc {
       display: flex;
       align-items: center;
      
    }

    .info-bjc {
        border-radius:5px;
        -webkit-box-shadow: 0px 1px 5px -2px rgba(0,0,0,1);
        -moz-box-shadow: 0px 1px 5px -2px rgba(0,0,0,1);
        box-shadow: 0px 1px 5px -2px rgba(0,0,0,1);
        margin-top: 6em;
    }
    
}

@media screen and (max-width: 640px){
    section.sec3 {
        position: relative;
        overflow: hidden;
        background: url(img/main_large_800w.jpg);
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    
    

    
}


/* project page */


/* .sec2.prj{
    line-height: 1.5em;
    
} */

/* .t-name,
.bjc-name {
    font-family: Raleway, sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom:30px;
    text-align: center;
} */

/* .t-riot,
.bjc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
} */

/* .prj .t-riot,
.prj .bjc {
    line-height: 25px;
    
} */

/* img .project {
    width: 100%;
} */




