section.sec1 {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(78, 122, 178, 0.4), rgb(78, 122, 178, 0.4)),  url(img/img2/finale2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center 40px;
    width: 100%;
    height: 100vh;
}

@media all and (min-width: 780px) {
    section.sec1 {
        position: relative;
        overflow: hidden;
        background: linear-gradient(rgb(78, 122, 178, 0.4), rgb(78, 122, 178, 0.4)), url(img/img2/uno.jpg);
        background-attachment: fixed;
        background-size: cover;
        /* background-position: 60%; */
        width: 100%;
        top: -10%;
        height: 100vh;
    }

}